* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  font: 12px "Monaco", Inconsolata, monospace;
  background: #083952;
  color: #f8f8f8;
}

.terminal {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -125px;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
  width: 450px;
  font: inherit;
  border: none;
  outline: none;
  color: inherit;
}

.dollar:before {
  content: 'root@vla64:~$';
  color: #52a563;
}

.home {
  color: #e28d47;
  padding-bottom: 3px;
}

a {
  font: 12px "Monaco", Inconsolata, monospace;
  text-decoration: underline;
  color: #f8f8f8;
}

.social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 40px;
}

.social-medias a {
  text-decoration: none;
  margin-right: 20px;
}

.social-medias a:last-child {
  margin-right: 0;
}

.social-medias a:hover {
  text-decoration: underline;
}

.social-medias--2 {
  bottom: 10px;
  left: 40px;
}

@media screen and (max-width: 375px) {
  .social-medias {
    left: 20px;
  }
  .social-medias--2 {
    left: 20px;
  }
}
